
.hero__mintitle-anim {
    -webkit-animation: text-focus-in 450ms cubic-bezier(0.550, 0.085, 0.680, 0.530) 100ms both;
     animation: text-focus-in 450ms cubic-bezier(0.550, 0.085, 0.680, 0.530) 100ms both;
  }
  .hero__btn-anim {
    -webkit-animation: text-focus-in 400ms cubic-bezier(0.550, 0.085, 0.680, 0.530) 200ms both;
     animation: text-focus-in 400ms cubic-bezier(0.550, 0.085, 0.680, 0.530) 200ms both;
  }
  
  .hero__title-anim  {
    -webkit-animation: focus-in-contract 700ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: focus-in-contract 700ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @-webkit-keyframes focus-in-contract {
    0% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract {
    0% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }