%section {
    // padding-top: 84px;
    padding-bottom: 60px;
    @include mq(tablet) {
        padding-bottom: 100px;
    }
}

%section-title {
	margin-bottom: 32px;
	text-align: left;
    font-family: var(--secondary-font);
    text-transform: uppercase;

    display: flex;
    align-items: center;
    gap: 14px;

	@include fonts($fw: 700, $fs: 24px, $lh: 1.2, $color: var(--main-text-cl));

    &::after {
        content: '';
    
        display: inline-block;
        width: 100%;
        height: 1px;
    
        background-color: var(--main-text-cl);
    }

    @include mq(tablet) {
        margin-bottom: 60px;
        font-size: 44px;
        gap: 16px;
    }

    @include mq(desktop) {
        margin-bottom: 80px;
    }

}


