:root {
  /* Fonts */
  --main-font: 'Montserrat', Verdana, Arial, Helvetica, sans-serif;
  /* Footer font */
  --secondary-font: 'Inter', sans-serif;

  /* Text colors */
  --main-text-cl: #000000;
  --white-cl: #ffffff;
  --secondary-text-cl: rgba(0, 0, 0, 0.6);

  /* btn colors */

  --default-btn-cl: #e86f54;
  --hover-btn-cl: #e25b41;
  --focus-btn-cl: #fa6f54;

  /* Others */
  --icon-logo-cl: 00eE0E;

  --btn-radius: 38px;

  --anim-fast: 300ms ease;
  // --anim-slow: 600ms ease-in-out;

  // --items: 3;
  // --indent: 30px;

  // --idx-header: 100;
  // --idx-modal: 1000;
}
