:root {
    /* Fonts */
	--main-font: 'Montserrat', Verdana, Arial, Helvetica, sans-serif;
    /* Footer font */
    --secondary-font: 'Inter', sans-serif;

    /* Text colors */
	--main-text-color: #000000;
	--white-color: #ffffff;
    --secondary-text-color: rgba(0, 0, 0, 0.6)

    /* btn colors */
	--default-btn-color: #E86F54;
	--hover-btn-color: #E25B41;
    --focus-btn-color: #FA6F54;

    /* Others */
	--icon-logo-color: 0E0E0E;
  
    // --anim-fast: 300ms ease;
    // --anim-slow: 600ms ease-in-out;

	// --items: 3;
	// --indent: 30px;

    // --idx-header: 100;
    // --idx-modal: 1000;
}


//   body {
//     &--light-theme {
//       background-color: var(--white-color);

//     }
  
//     &--dark-theme {
//         background-color: var(--main-text-color);
//     }
//   }

  
