<section class="section about" id="about-us">
  <div class="container">
    <h2 class="about__title subtitle">about</h2>
    <div class="about__wrapper">
      <p class="about__text" data-aos="zoom-out" data-aos-duration="1000">
        We are a minimalistic flower studio. We love people and flowers.
        Therefore, every day we give people the beauty and joy creating stylish
        and modern masterpieces. Every bouquet we create is unique as you are.
      </p>
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/about/about-dt-1x.webp 1x,
            ./images/about/about-dt-2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/about/about-dt@1x.png 1x,
            ./images/about/about-dt@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/about/about-tb-1x.webp 1x,
            ./images/about/about-tb-2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/about/about-tb@1x.png 1x,
            ./images/about/about-tb@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/about/about-mb-1x.webp 1x,
            ./images/about/about-mb-2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/about/about-mb@1x.png 1x,
            ./images/about/about-mb@2x.png 2x
          "
          type="image/png"
        />
        <img
          src="./images/about/about-dt@1x.png"
          alt="flovers"
          class="about__img"
          loading="lazy"
          width="632px"
          height="344px"
        />
      </picture>
    </div>
  </div>
</section>
