<section class="blog section about" id="blog">
  <div class="container">
    <h2 class="subtitle">BLOG</h2>
    <div class="blog-wrapper-foto">
      <img
        class="blog-foto"
        srcset="
          ./images/blog/dt/blog2-dt@1x.jpg  1x,
          ./images/blog/dt/blog2-dt@2x.jpg  2x,
          ./images/blog/dt/blog2-dt-1x.webp 1x,
          ./images/blog/dt/blog2-dt-2x.webp 2x
        "
        src="./images/blog/dt/blog2-dt@1x.jpg"
        alt=""
      />
      <img
        class="blog-foto"
        srcset="
          ./images/blog/dt/blog1-dt@1x.jpg  1x,
          ./images/blog/dt/blog1-dt@2x.jpg  2x,
          ./images/blog/dt/blog1-dt-1x.webp 1x,
          ./images/blog/dt/blog1-dt-2x.webp 2x
        "
        src="./images/blog/dt/blog1-dt@1x.jpg"
        alt=""
      />
      <img
        class="blog-foto"
        srcset="
          ./images/blog/dt/blog3-dt@1x.jpg  1x,
          ./images/blog/dt/blog3-dt@2x.jpg  2x,
          ./images/blog/dt/blog3-dt-1x.webp 1x,
          ./images/blog/dt/blog3-dt-2x.webp 2x
        "
        src="./images/blog/dt/blog3-dt@1x.jpg"
        alt=""
      />
    </div>
    <p class="blog-text-follow">Follow to our newsletter</p>
    <button class="btn blog-btn">Subscribe</button>
  </div>
</section>
