<section class="section about delivery" id="delivery">
  <div class="container">
    <h2 class="subtitle">DELIVERY</h2>
    <ul class="delivery__list">
      <li class="delivery__item">
        <span class="delivery__number">1</span>Choose your bouquet and make an
        order on website
      </li>
      <li class="delivery__item">
        <span class="delivery__number">2</span>
        Wait for the call to clarify the details of the order. You can pay
        online or to the courier
      </li>
      <li class="delivery__item">
        <span class="delivery__number">3</span>
        Wait for the delivery at the selected time or pick up the order from the
        store
      </li>
      <li class="delivery__item">
        <span class="delivery__number">4</span>Make someone happy or enjoy
        yourself
      </li>
    </ul>
  </div>
  <picture>
    <source
      srcset="
        ./images/delivery/del-tb@1x.jpg  1x,
        ./images/delivery/del-tb@2x.jpg  2x,
        ./images/delivery/del-tb-1x.webp 1x,
        ./images/delivery/del-tb-2x.webp 2x
      "
      media="(max-width:1279.98px)"
    />
    <source
      srcset="
        ./images/delivery/del-mb@1x.jpg  1x,
        ./images/delivery/del-mb@2x.jpg  2x,
        ./images/delivery/del-mb-1x.webp 1x,
        ./images/delivery/del-mb-2x.webp 2x
      "
      media="(max-width: 767.98px)"
    />
    <source
      srcset="
        ./images/delivery/del-dt@1x.jpg  1x,
        ./images/delivery/del-dt@2x.jpg  2x,
        ./images/delivery/del-dt-1x.webp 1x,
        ./images/delivery/del-dt-2x.webp 2x
      "
      media="(min-width:1280px)"
    />
    <img src="./images/delivery/del-dt@1x.jpg" class="delivery-foto" alt="" />
  </picture>
</section>
