<section class="section delivery" id="delivery">
  <div class="container">
    <h2 class="subtitle">DELIVERY</h2>
    <ul class="delivery__list list" >
      <li class="delivery__item" data-aos="zoom-in-left" data-aos-duration="300">
        <div class="delivery__number">1</div>
        <p class="delivery__txt" >
          Choose your bouquet and make an order on website
        </p>
      </li>
      <li class="delivery__item" data-aos="zoom-in-left" data-aos-duration="600" >
        <div class="delivery__number" >2</div>
        <p class="delivery__txt" >
          Wait for the call to clarify the details of the order. You can pay
          online or to the courier
        </p>
      </li>
      <li class="delivery__item" data-aos="zoom-in-left" data-aos-duration="900">
        <div class="delivery__number" >3</div>
        <p class="delivery__txt" >
          Wait for the delivery at the selected time or pick up the order from
          the store
        </p>
      </li>
      <li class="delivery__item" data-aos="zoom-in-left" data-aos-duration="1200">
        <div class="delivery__number" >4</div>
        <p class="delivery__txt">Make someone happy or enjoy yourself</p>
      </li>
    </ul>
  </div>
  <picture>
    <source media="(min-width:1280px)" srcset="
        ./images/delivery/del-dt-1x.webp 1x,
        ./images/delivery/del-dt-2x.webp 2x
      "
      type="image/webp"
    />
    <source media="(min-width:1280px)" srcset="
      ./images/delivery/del-dt@1x.jpg  1x,
      ./images/delivery/del-dt@2x.jpg  2x
    "
    type="image/jpeg"
  />
    <source media="(min-width:768px)"
      srcset="
        ./images/delivery/del-tb-1x.webp 1x,
        ./images/delivery/del-tb-2x.webp 2x
      "
      type="image/webp"
    />
    <source media="(min-width:768px)"
    srcset="
      ./images/delivery/del-tb@1x.jpg  1x,
      ./images/delivery/del-tb@2x.jpg  2x
    "
    type="image/jpeg"
  />
    <source media="(max-width:767px)" srcset="
        ./images/delivery/del-mb-1x.webp 1x,
        ./images/delivery/del-mb-2x.webp 2x
      "
      type="image/webp"
    />
    <source media="(max-width:767px)" srcset="
    ./images/delivery/del-mb@1x.jpg  1x,
    ./images/delivery/del-mb@2x.jpg  2x
  "
  type="image/jpeg"
/>
    <img src="./images/delivery/del-dt@1x.jpg" 
    class="delivery-foto" 
    alt="delicate anemone flowers"
    loading="lazy"
    width="1280"
    height="391" />
  </picture>
</section>

