<footer class="">
  <div class="">
    <nav class="navigation">
      <ul class="nav__list list">
        <li class="nav__item">
          <a href="./index.html" class="nav__link">Anemone</a>
        </li>
        <li class="nav__item">
          <a href="#about-us" class="nav__link">About us</a>
        </li>
        <li class="nav__item"><a href="#store" class="nav__link">Store</a></li>
        <li class="nav__item">
          <a href="#delivery" class="nav__link">Delivery</a>
        </li>
      </ul>
    </nav>
    </div>
    <div>
        <p class="">Opening times</p>
    </div>
    <div class="">
      <address>
        <p>Contacts</p>
        <ul class="contact-footer__address">
            <li class="contact-footer__list">
                <a href="tel:+380961111111" class="contact-footer__link"
                  >+38 063 123 45 67</a
                >
              </li>
              <li class="contact-footer__list">
                <a href="mailto:anemonestudio@example.com" class="contact-footer__link"
                  >anemonestudio@example.com</a
                >
              </li>
          <li class="contact-footer__list">
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer"
              class="contact-footer__map"
              >Reitarska Street, 11 Kyiv, Ukraine</a>
          </li>
        </ul>
      </address>
    </div>
    <div class="socials-footer">
      <ul class="socials socials-footer__item">
        <li class="socials__list">
          <a href="" class="socials-footer__styles socials__link">
            <svg width="20" height="20">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials__list">
          <a href="" class="socials-footer__styles socials__link">
            <svg width="20" height="20">
              <use href="./images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
