<header class="header" id="up">
  <div class="container header__wrapper">
    <button
      class="mobile-menu__btn hamburger hamburger--collapse js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
      aria-label="modal window toggle"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <a href="./index.html" class="logo" id="up-logo" aria-label="logo Anemone">
      <svg class="logo__icon">
        <use href="./images/symbol-defs.svg#icon-Logo"></use>
      </svg>
    </a>
    <nav class="navigation">
      <ul class="nav__list list">
        <li class="nav__item">
          <a href="#hero" class="nav__link">Anemone</a>
        </li>
        <li class="nav__item">
          <a href="#about-us" class="nav__link">About us</a>
        </li>
        <li class="nav__item">
          <a href="#store" class="nav__link">Store</a>
        </li>
        <li class="nav__item">
          <a href="#delivery" class="nav__link">Delivery</a>
        </li>
        <li class="nav__item">
          <a href="#blog" class="nav__link">Blog</a>
        </li>
      </ul>
    </nav>
    <button data-modal-open type="button" class="header__tel-btn" aria-label="calls window Contact us">
      <svg class="header__icon">
        <use href="./images/symbol-defs.svg#icon-tel"></use>
      </svg>
    </button>
  </div>
</header>
