<section class="section hero">
  <div class="conteiner hero">
    <h1 class="hero__title">ANEMONE</h1>
    <h2 class="hero__mintitle">flower studio</h2>
    <div class="hero__img">
      <img
        src="./images/hero/hero-mb@1x.webp"
        alt="flower"
        width="145px"
        height="274px"
      />
    </div>
    <button class="hero__btn" type="button">
      <!-- <svg class="hero__btn-svg" width="64" height="76">
        <use href=""></use>
      </svg> -->
    </button>
  </div>
</section>
