<section class="section hero">
  <div class="container hero__container">
    <h1 class="hero__title hero__title-anim">ANEMONE</h1>
    <h2 class="hero__mintitle hero__mintitle-anim">flower studio</h2>
    <div class="hero__img">
      <picture>
        <source
          media="(min-width:1200px)"
          srcset="
            ./images/hero/hero-dt@2x.webp 2x,
            ./images/hero/hero-dt@1x.webp 1x
          "
          type="image/webp"
        />
        <source
          media="(min-width:768px)"
          srcset="
            ./images/hero/hero-tb@2x.webp 2x,
            ./images/hero/hero-tb@1x.webp 1x
          "
          type="image/webp"
        />
        <source
          media="(max-width:767.98px)"
          srcset="
            ./images/hero/hero-mb@2x.webp 2x,
            ./images/hero/hero-mb@1x.webp 1x
          "
          type="image/webp"
        />
        <source
          media="(min-width:1200px)"
          srcset="
            ./images/hero/hero-dt@2x.webp 2x,
            ./images/hero/hero-dt@1x.webp 1x
          "
          type="image/png"
        />
        <source
          media="(min-width:768px)"
          srcset="
            ./images/hero/hero-tb@2x.png 2x,
            ./images/hero/hero-tb@1x.png 1x
          "
          type="image/png"
        />
        <source
          media="(max-width:767.98px)"
          srcset="
            ./images/hero/hero-mb@2x.png 2x,
            ./images/hero/hero-mb@1x.png 1x
          "
          type="image/png"
        />
        <img
          src="./images/hero/hero-mb@1x.png"
          alt="flower"
          width="390px"
          height="693px"
        />
      </picture>
    </div>
    <button data-modal-open class="hero__btn hero__btn-anim" type="button">
      <svg class="hero__btn-svg" width="64" height="76">
        <use
          class="hero__btn-svg--md"
          href="./images/symbol-defs.svg#hero-btn-mb"
        ></use>
        <use
          class="hero__btn-svg--tb"
          href="./images/symbol-defs.svg#hero-btn-tb"
        ></use>
        <use
          class="hero__btn-svg--dt"
          href="./images/symbol-defs.svg#hero-btn-dt"
        ></use>
      </svg>
    </button>
  </div>
</section>
