<section class="section hero">
  <div class="container">
    <h1 class="hero__title">ANEMONE</h1>
    <h2 class="hero__mintitle">flower studio</h2>
    <div class="hero__img">
      <img
        src="./images/hero/hero-mb@1x.webp"
        alt="flower"
        width="145px"
        height="274px"
      />
    </div>
    <button class="hero__btn" type="button">
      <svg class="" width="" height="">
        <use href="./images/symbol-defs.svg#icon-btn-hero"></use>
      </svg>
    </button>
  </div>
</section>
