<div class="mobile-menu js-menu-container" id="mobile-menu">
  <ul class="mobile-menu__list list">
    <li class="mobile-menu__item">
      <a href="#hero" class="mobile-menu__link mobile-menu__link--current"
        >Anemone</a
      >
    </li>
    <li class="mobile-menu__item">
      <a href="#about-us" class="mobile-menu__link">About us</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#store" class="mobile-menu__link">Store</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#delivery" class="mobile-menu__link">Delivery</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#blog" class="mobile-menu__link">Blog</a>
    </li>
  </ul>
</div>
