<div data-modal1 class="subscribe is-hidden">
  <div class="subscribe__wrapper">
    <picture>
      <source media="(min-width:1280px)" srcset="
          ./images/modal(subscribe)/sub-dt@1x.webp 1x,
          ./images/modal(subscribe)/sub-dt@2x.webp 2x
        "
        type="image/webp"
      />
      <source media="(min-width:1280px)" srcset="
          ./images/modal(subscribe)/sub-dt@1x.jpg 1x,
          ./images/modal(subscribe)/sub-dt@2x.jpg 2x
        "
        type="image/jpeg"
      />
      <source media="(min-width:768px)" srcset=" 
          ./images/modal(subscribe)/sub-tb@1x.webp 1x,
          ./images/modal(subscribe)/sub-tb@2x.webp 2x
        "
        type="image/webp"
      />
      <source media="(min-width:768px)" srcset="
          ./images/modal(subscribe)/sub-tb@1x.jpg  1x,
          ./images/modal(subscribe)/sub-tb@2x.jpg  2x
        "
        type="image/jpeg"
      />
      <source media="(max-width:767px)" srcset="
          ./images/modal(subscribe)/sub-mb@1x.webp 1x,
          ./images/modal(subscribe)/sub-mb@2x.webp 2x
        "
        type="image/webp"
      />
      <source media="(max-width:767px)" srcset="
          ./images/modal(subscribe)/sub-mb@1x.jpg  1x,
          ./images/modal(subscribe)/sub-mb@2x.jpg  2x
        "
        type="image/jpeg"
      />
      <img src="./images/modal(subscribe)/sub-tb@1x.jpg" 
      alt="stylish bouquet of flowers"
      loading="lazy"
      width="588"
      height="271"
      />
    </picture>

    <div class="subscribe__information-wrapper">
      <button class="subscribe__icon-button-close" data-modal-close1>
        <svg class="subscribe__icon-close" width="18" height="18">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <h3 class="subscribe__blog-title">Follow to our newsletter</h3>
      <p class="subscribe__blog-text">
        Be the first to get exclusive offers and the latest news on our product
        directly in your box.
      </p>
      <form class="form-blog">
        <label for="email" class="form-blog-label">Email</label>
        <input
          id="email"
          type="email"
          name="mail"
          placeholder="Your email"
          class="form-blog-input"
        />
      </form>
      <button class="btn subscribe__btn">Subscribe</button>
    </div>
  </div>
</div>
