.btn {
    font-family: var(--main-font);
    display: block;
    margin: 0 auto;
    min-width: 208px;
    min-height: 44px;
    padding: 10px 35px;
    background-color: #E86F54;;
  
	@include fonts($fw: 500, $fs: 20px, $lh: 0.857, $color: var(--white-cl));

 
    border: none;
    border-radius: var(--btn-radius);
    
    transition: background-color var(--anim-fast);
  
    &:hover {
      background-color: var(--hover-btn-cl);
    }

    &:focus {
      background-color: var(--focus-btn-cl);
    }

    @include mq(tablet) {
        min-width: 280px;
        min-height: 64px;
        padding: 20px 43.5px;

        @include fonts($fw: 500, $fs: 28px, $color: var(--white-cl));
    }

    // &.animate__animated {
    //   animation: heartBeat 6s ease-in-out 4s infinite both;
    // }
  
}

// font-size: 28px;
// line-height: 24px;