/* DELIVERY */

// h2,
// ul {
//   margin: 0;
//   padding: 0;
// }
// li {
//   list-style: none;
// }
.delivery {
  font-family: var(--main-font);
  @include mq(desktop) {
    padding: 0 80px 60px;
  }
}

.delivery__number {
  border: 1px solid black;
  border-radius: 50%;
  font-family: 'Montserrat';
  @include fonts($fw: 500, $fs: 20px, $lh: 1.2);
  display: flex;
  width: 40px;
  height: 40px;
  gap: 8px;

  align-items: center;
  justify-content: center;

  @include mq(tablet) {
    width: 64px;
    height: 64px;
    @include fonts($fw: 500, $fs: 24px, $lh: 1.2, $color: var(--main-text-cl));
  }
  @include mq(desktop) {
    @include fonts($fw: 500, $fs: 26px, $lh: 1.2, $color: var(--main-text-cl));
  }
}


.delivery__txt {
  width: calc(100% - 48px);
  @include fonts($fw: 500, $fs: 14px, $lh: 1.2, $color: var(--main-text-cl));

  @include mq(tablet) {
    @include fonts($fw: 500, $fs: 24px, $lh: 1.2, $color: var(--main-text-cl));
    width: calc(100% - 84px);
  }
  @include mq(desktop) {
    @include fonts($fw: 500, $fs: 32px, $lh: 1.2, $color: var(--main-text-cl));
    width: calc(100% - 120px);

  }

}
.delivery__item {
  min-height: 51px;
  display: flex;
  align-items: center;
  width: 100%;

  @include fonts($fw: 500, $fs: 14px, $lh: 1.2, $color: var(--main-text-cl));
  gap: 8px;

  @include mq(tablet) {
    @include fonts($fw: 500, $fs: 24px, $lh: 1.2, $color: var(--main-text-cl));

    gap: 20px;
  }
  @include mq(desktop) {
    width: 978px;
    @include fonts($fw: 500, $fs: 32px, $lh: 1.2, $color: var(--main-text-cl));
    gap: 56px;
  }
}

.delivery__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
  gap: 8px;

  @include mq(tablet) {
    gap: 20px;
    margin-bottom: 40px;
  }
  @include mq(desktop) {
    padding: 0 70px;
    margin-bottom: 60px;
    gap: 30px;
  }
}

.delivery-description {
  margin-bottom: 80px;
}

.blog-text-follow {
  @include fonts($fw: 500, $fs: 32px, $lh: 1.2, $color: var(--main-text-cl));
}

.backdrop-modal-blog-title {
  @include fonts($fw: 600, $fs: 28px, $lh: 1.2, $color: var(--main-text-cl));
}

.backdrop-modal-blog-text {
  @include fonts($fw: 400, $fs: 16px, $lh: 130%, $color: var(--main-text-cl));

  text-align: center;
  color: #5c5c5c;
}

.form-blog {
  display: flex;
  flex-direction: column;
}

.backdrop-modal-blog {
  width: 860px;
}

.form-blog-label {
  @include fonts($fw: 600, $fs: 14px, $lh: 1.2, $color: var(--main-text-cl));
  color: #5c5c5c;
}

.form-blog-input {
  @include fonts($fw: 600, $fs: 14px, $lh: 1.2, $color: var(--main-text-cl));
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  padding-left: 12px;
  padding-top: 19px;
  padding-bottom: 19px;
}

.subtitle {
  @include mq(tablet) {
  }
}

.delivery-foto {
  margin-left: auto;
  margin-right: auto;
}
