.footer {
  color: var(--white-cl);
  background-color: var(--main-text-cl);
  font-family: var(--secondary-font);
}
.container__footer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 32px;
  @include mq(tablet) {
    flex-wrap: nowrap;
    gap: 44px;
    padding-top: 60px;
    padding-bottom: 54px;
  }
  @include mq(desktop) {
    flex-wrap: nowrap;
    gap: 96px;
    padding-top: 72px;
    padding-bottom: 72px;
  }
}
.footer__logo {
  display: none;
  @include mq(desktop) {
    display: block;
    margin-right: 114px;
  }
}
.footer__logo--icon {
  width: 73px;
  height: 57px;
  fill: var(--white-cl);
}
.container__footer .wth {
  display: flex;
  flex-wrap: wrap;
  width: calc((100% - 32px) / 2);
  @include mq(tablet) {
    width: calc((100% - 132px) / 4);
  }
  @include mq(desktop) {
    width: calc((100% - 164px) / 5);
  }
}
.container__footer .wth:nth-child(1n + 2) {
  margin-right: 0px;
}
.footer__item--transfer {
  display: flex;
  @include mq(tablet) {
    display: inline;
  }
}
.footer__title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  margin-bottom: 18px;
  font-style: normal;
  @include mq(tablet) {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}
.footer__nav--list {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: var(--white-cl);
  margin-bottom: 12px;
  @include mq(tablet) {
    font-size: 16px;
    line-height: calc(19 / 16);
  }
}
.footer__worktime {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.footer__worktime-item {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: var(--white-cl);
  @include mq(tablet) {
    font-size: 16px;
    line-height: calc(19 / 16);
  }
}
.footer__address a {
  text-decoration: none;
  color: var(--white-cl);
  font-style: normal;
}
.footer__item {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: var(--white-cl);
  margin-bottom: 12px;
  @include mq(tablet) {
    font-size: 16px;
    line-height: calc(19 / 16);
  }
}
.socials__footer {
  display: flex;
  @include mq(tablet) {
    justify-content: flex-end;
  }
}
.socials__footer--list {
  display: flex;
  flex-direction: row;
  // margin-left: 0;
  @include mq(tablet) {
    flex-direction: column;
  }
}
.socials__footer--item {
  margin-right: 16px;
  @include mq(tablet) {
    margin-right: 0px;
    margin-bottom: 18px;
  }
}
.socials-footer__styles {
  border-radius: 50%;
  stroke: var(--white-cl);
  list-style: none;
}
