.header {
  width: 100vw;
  min-height: 60px;
  padding-top: 16px;
  background-color: var(--white-cl);
  // position: sticky;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  &:has(.mobile-menu__btn.is-active) {
    background-color: transparent;
  }
}
// .header + .about {
//     padding-top: 60px;
// }

.logo {
  .mobile-menu__btn.is-active ~ & {
    opacity: 0;
  }
}

.logo__icon {
  width: 54px;
  height: 42px;
  margin-right: 5px;

  @include mq(tablet) {
    width: 86px;
    height: 68px;
  }
}

.header__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include mq(tablet) {
    align-items: center;
    gap: 68px;
  }
  @include mq(desktop) {
    align-items: center;
    gap: 261px;
  }
}

.header__tel-btn {

    margin-right: 14px;
    margin-left: auto;
    padding: 6px 0 0 ;
    border: none;
    background-color: transparent;


  @include mq(tablet) {
    margin-right: 0;
    margin-left: 0;
    top: 24px;
    right: 24px;
  }

  .mobile-menu__btn.is-active ~ & {
    opacity: 0;
  }
}

.header__icon {
  width: 25px;
  height: 25px;

}

.navigation {
  display: none;

  @include mq(tablet) {
    display: block;
    margin-right: auto;
  }

}

.nav__list {
  display: flex;
  margin-right: auto;

  @include mq(tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  @include mq(desktop) {
    gap: 48px;
  }
}

.nav__link {
  padding-top: 16px;
  padding-bottom: 17px;
  text-decoration: none;
  @include fonts($fw: 400, $fs: 20px);

  @include mq(tablet) {
    padding-top: 12px;
    padding-bottom: 21px;
  }
}

// .mobile-menu__btn {
//     position: absolute;
//     top: 20px;
//     right: 24px;
//     z-index: 9999;
// }

// .header__button {
//     display: block;
//     margin-left: 14px;
//     padding: 0;
//     background-color: transparent;
//     border: none;
//     @include mq(tablet) {
//         display: none;
//     }
// }

// .header__burger {
//     width: 24px;
//     height: 24px;
// }
