

.mobile-menu {
    position: fixed;
	top: 0;
	left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--default-btn-cl);
    color: var(--white-cl);
    z-index: 999;
	display: flex;
	flex-direction: column;
    transform: translateX(-150%);
    z-index: 9;

	transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
	transform: translateX(0);
}

.mobile-menu__btn {
    position: absolute;
    top: 22px;
    right: 22px;
    padding: 0;
	background-color: transparent;
	cursor: pointer;
	border: none;
    z-index: 999;

}
// .mobile-menu__btn {
// 	min-height: 12px;
// 	min-width: 12px;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
//     color: var(--white-cl);

// 	margin-left: auto;
// 	padding: 0;
// 	background-color: transparent;
// 	cursor: pointer;
// 	border: none;

// 	&.js-close-menu {
// 		position: absolute;
// 		top: 16px;
// 		right: 16px;
// 	}

// 	@media (min-width: 768px) {
// 		display: none;
// 	}
// }
.mobile-menu__list {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 26px;
    align-items: center;
}

.mobile-menu__link {
    text-decoration: none;
    @include fonts($fw: 400, $fs: 20px, $lh: 1.2, $color: var(--white-cl));
    transform: scale(1);

    transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
        @include fonts($fs: 21px, $color: var(--white-cl));
	}
}
