.swiper {
  --swiper-navigation-size: 110px;

  left: 50%;
  transform: translateX(-50%);
  width: 450px;
  height: 181px;

  @include mq(tablet) {
    --swiper-navigation-size: 160px;

    width: 982px;
    height: 398px;
  }
  @include mq(desktop) {
    width: 1180px;
    height: 421px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  right: calc(50% - 380px);
  left: auto;

  &::before,
  &::after {
    display: none;
  }
}

.swiper-button-next {
  right: calc(50% - 160px) !important;
    left: auto;

  @include mq(phone) {
    right: calc(50% - 200px) !important;
    left: auto;
  }
  @include mq(tablet) {
    right: calc(50% - 380px) !important;
    left: auto;
  }

  @include mq(desktop) {
    right: calc(50% - 560px) !important;
    left: auto;
  }

}

.swiper-button-prev {
  left: calc(50% - 160px) !important;
  right: auto;

  @include mq(phone) {
    left: calc(50% - 200px) !important;
    right: auto;
  }

  @include mq(tablet) {
    left: calc(50% - 380px) !important;
    right: auto;
  }

  @include mq(desktop) {
    left: calc(50% - 560px) !important;
    right: auto;
  }
}
